{% extends "layout.html" %}
{% block content %}
    <h1>Company Profile</h1>
    <p>WE ARE TRUSTED BY THE BEST OF THE BEST


Flat Socity has been developed to simplify tasks, communication among residents and most importantly managing issues related to Maintenance, Security and Financial requirements within a society. System allows complete transparency on all activities to all the members. It allows members to share their opinion on a particular topic through our platform.


This product caters to various stakeholders of which the key ones are the Residents , Society Management and the Resident Welfare Association/ Builders/FM companies. Flat Socity is an integrated platform to manage daily society/condominium operations. This was built in close coordination with the issues faced today by the facility management / builder and residents themselves. We have come up with this new idea of connecting people under one portal for easy and efficient working and we truly believe this will work successfully.


Flat Socity MODULES/ACCESS Residents Manager- Access to secretary (Mobile APP IOS / Android/ Web Console) Facility manager Access for complaints, parking, residents manager, bookings etc. (Web Console) Accounts and Billing Manager (Web Console) Gate Guardian APP for Staff and Visitor Management(Web Console and Android APP)</p>
{% endblock content %}

